<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4">Sistema de Gestión Académica</h1>
    <p class="lead">Prueba Técnica - .NET Developer</p>
    <hr class="my-4">
    <p>Seleccione una opción del menú para comenzar</p>
    
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Estudiantes</h5>
            <p class="card-text">Gestión completa de estudiantes</p>
            <a routerLink="/estudiantes" class="btn btn-primary">Ir a Estudiantes</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Profesores</h5>
            <p class="card-text">Gestión completa de profesores</p>
            <a routerLink="/profesores" class="btn btn-primary">Ir a Profesores</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Notas</h5>
            <p class="card-text">Gestión completa de notas</p>
            <a routerLink="/notas" class="btn btn-primary">Ir a Notas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
